.details {
  width: 100%;
  max-width: 500px;
  padding: 124px 24px 85px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.detailsImg {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 34px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.17;
  color: #081f32;
  text-align: center;
  margin-bottom: 34px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #8e8e93;
  margin-bottom: 16px;
}

.list {
  margin: 0 auto;
  width: 100%;
  max-width: 413px;
}

.item {
  position: relative;
  padding: 9px 16px 12px 16px;
}

.item::after {
  content: '';
  position: absolute;
  width: calc(100% - 18px);
  height: 1px;
  background: rgba(33, 33, 33, 0.08);
  bottom: 0;
  left: 18px;
}

.infoTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #081f32;
}
.descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6e798c;
}

@media screen and (min-width: 480px) {
  .details {
    padding: 76px 0 142px 0;
  }
  .detailsImg {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 48px;
  }

  .subtitle {
    margin-bottom: 48px;
    text-align: center;
  }
}
