.details {
  width: 500px;
  padding-top: 76px;
  padding-bottom: 142px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsImg {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 16px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.17;
  color: #081f32;
  text-align: center;
  margin-bottom: 48px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #8e8e93;
  margin-bottom: 48px;
}

.list {
  width: 413px;
}

.item {
  position: relative;
  padding: 9px 16px 12px 16px;
}

.item::after {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: 1px;
  background: rgba(33, 33, 33, 0.08);
  bottom: 0;
  left: 2px;
}

.infoTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #081f32;
}
.descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6e798c;
}
