.list {
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 20px;
}
.item {
  width: 240px;
  transition: all 0.5s;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  overflow: hidden;
}

.item:hover {
  transform: scale(1.1);
}

.imgWrap {
  width: 240px;
  height: 168px;
  overflow: hidden;
}

.infoWrap {
  padding: 12px 16px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
